<toaster-container [toasterconfig]="config"></toaster-container>
<div style="display: flex">
<div style="width: 50%; padding-right: 10px;">
  <div>
    <nb-card>
      <nb-card-header>Grade Differences Between Mentor to Students</nb-card-header>
      <nb-card-body>
        <div class="checkbox">
          <nb-checkbox>1 Year</nb-checkbox>
        </div>
        <div class="checkbox">
          <nb-checkbox>2 years</nb-checkbox>
        </div>
        <div class="checkbox">
          <nb-checkbox>3 years or more</nb-checkbox>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Students Selection Priority </nb-card-header>
      <nb-card-body>
        <div class="">
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">High priority</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Medium priority</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Low priority</span>
            </label>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Course History</nb-card-header>
      <nb-card-body>
        <div class="">
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Students may not take the same category twice</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Students may take the same course again (subject to availability)</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Students may take the same course twice</span>
            </label>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div style="width: 50%; ; padding-right: 10px;">
  <div>
    <nb-card>
      <nb-card-header>Mentor Courses Inclusiveness </nb-card-header>
      <nb-card-body>
        <div class="">
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Full capacity</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Medium capacity</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Low capacity</span>
            </label>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Students Participation</nb-card-header>
      <nb-card-body>
        <div class="">
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios" checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">All students must have a match</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" name="gridRadios">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Most of the students get first priority</span>
            </label>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <button (click)="startMatch()"  style="margin: 0 auto;display: flex" [class]="startMatching? 'btn btn-outline-warning btn-block' : 'btn btn-outline-info btn-warning'" >{{title}}</button></div>
<div style="display: flex;align-items: center;justify-content: center;height: 100%">
  <div *ngIf="startMatching">
    <circle-progress
      [percent]="percent"
      [radius]="200"
      [outerStrokeWidth]="16"
      [titleFontSize]="30"
      [subtitleFontSize]="30"
      [subtitleFormat]="formatSubtitle"

      [unitsFontSize]="30"
      [innerStrokeWidth]="30"
      [space]="12"
      [outerStrokeColor]="color"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="15000"
    ></circle-progress>
  </div>
</div>
