
<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row" style="display: flex">
  <div class="" style="flex-basis: 50%;">
    <nb-card>
      <nb-card-body>

      <nb-tabset fullWidth>
        <nb-tab tabTitle='Mentor'>
          <div class="contact">
            <nb-user [picture]="user.picture" [name]="user.name"></nb-user>
            <i class="i-contact nb-phone"></i>
          </div>
        </nb-tab>
      </nb-tabset>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Skills</nb-card-header>
      <nb-card-body>
        <nb-card>
          <nb-card-header>Choose Category :</nb-card-header>
          <nb-card-body>
            <select class="form-control" id="category"
                    required
                    [(ngModel)]="model.category" name="power">
              <option *ngFor="let cat of categories" [value]="cat?.name">{{cat?.name}}</option>
            </select>

          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Add new skill</nb-card-header>
          <nb-card-body>
            <div class="input-group input-group-fill-only">
              <input type="text" [(ngModel)]="model.sub_category" placeholder="Sub Category" class="form-control">
              <!--button (click)="addSkill()" class="btn btn-info btn-tn "><i class="ion-plus-round"></i></button-->
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Remarks</nb-card-header>
          <nb-card-body>
            <div class="input-group">
              <textarea rows="5" [(ngModel)]="model.remark" placeholder="Text Area" class="form-control"></textarea>
            </div>
          </nb-card-body>
        </nb-card>
        <!--div class="demo-radio col-sm-4 " style="flex-direction: row;">
          <label class="custom-control custom-radio">
            <input type="radio" [(ngModel)]="model.type" class="custom-control-input" name="customRadio" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Student</span>
          </label>
          <label class="custom-control custom-radio">
            <input type="radio" [(ngModel)]="model.type" class="custom-control-input" name="customRadio" >
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Mentor</span>
          </label>

        </div-->
      </nb-card-body>
    </nb-card>


    <div class="input-group">

      <span class="input-group-append">
        <button (click)="submit()" class="btn btn-danger input-group-text">
          SUBMIT
        </button>
      </span>
    </div>


  </div>
  <div style="flex-basis: 50%; padding-left: 10px;">
    <nb-card>
      <ngx-rooms></ngx-rooms>
    </nb-card>
  </div>

</div>
