    <div style="display: inline-block; margin-bottom: 0px; margin-top: 8px; width: 300px;" class="dropdown ghost-dropdown" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle style="margin-bottom: 0px; border: 2px solid #8a7fff;">
        {{selectedGradeTitle}}
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item" on-click="changeGrade('No filter')">Choose grade for filtering</li>
        <li class="dropdown-item" on-click="changeGrade('1st Grade')">1st Grade</li>
        <li class="dropdown-item" on-click="changeGrade('2nd Grade')">2nd Grade</li>
        <li class="dropdown-item" on-click="changeGrade('3rd Grade')">3rd Grade</li>
        <li class="dropdown-item" on-click="changeGrade('4th Grade')">4th Grade</li>
        <li class="dropdown-item" on-click="changeGrade('5th Grade')">5th Grade</li>
      </ul>
    </div>

    <div style="display: inline-block; margin-bottom: 0px; margin-left: 2px; margin-top: 8px; width: 300px;" class="dropdown ghost-dropdown" ngbDropdown>
      <button class="btn btn-primary" type="button" ngbDropdownToggle style="margin-bottom: 0px; border: 2px solid #8a7fff;">
        {{selectedClassTitle}}
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li class="dropdown-item" on-click="changeClass('No filter')">Choose class</li>
        <li class="dropdown-item" on-click="changeClass('Class 1')">Class 1</li>
        <li class="dropdown-item" on-click="changeClass('Class 2')">Class 2</li>
        <li class="dropdown-item" on-click="changeClass('Class 3')">Class 3</li>
        <li class="dropdown-item" on-click="changeClass('Class 4')">Class 4</li>
        <li class="dropdown-item" on-click="changeClass('Class 5')">Class 5</li>
      </ul>
    </div>
    <div style="padding-right: 10px; padding-left: 10px;"><button on-click="refresh()" class="btn btn-primary" style="display: inline-block; margin-bottom: 0px; margin-top: 8px;">Apply Filter</button></div>
