<nb-card *ngIf="!isList" style="height: 96%"
         [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle={{title}}>
      <div class="contact" *ngFor="let c of contacts">
        <nb-user [picture]="c.picture" [name]="c.name" [title]="c.type" size="large"></nb-user>
        <i class="i-contact nb-phone"></i>
      </div>
    </nb-tab>
    <!--<nb-tab tabTitle="Recent">
      <div class="contact" *ngFor="let c of recent">
        <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
        <span class="time">{{ c.time }}</span>
      </div>
    </nb-tab>-->
  </nb-tabset>
</nb-card>

<nb-card *ngIf="isList && !isStatus" style="height: 96%"
         [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">

  <div style="display:flex ;flex-wrap: wrap; ">
    <div class="contact" *ngFor="let c of contacts" style="display:flex;flex-direction:column ">
      <nb-flip-card>
        <nb-card-front>
      <nb-card>
        <nb-card-header>
          <img style="width:50px;height:50px; border-radius:  5px  5px;" [src]="c.picture">
          {{c.name}}
        </nb-card-header>
        <nb-card-body>
          <div>
          </div>
          <div style="display:flex;flex-direction:column ">
            <div class="contact" *ngFor="let skill of c.skills">
              <div class="" style="min-width:200px">
                <div style="display: inline-block" [class]="skill.icon" [style.color]="skill.color"></div>
                <!--img style="width:50px;height:50px;" [src]="skill?.image"-->
                <div  class="text-body" style="display:inline-block;font-size: 1.5rem;padding-left:2px" >{{skill.sub_category}}</div>
                 <!--span style="border-left: 1px dashed #a4abb3;
                height: 12px;
                width: 1px;
                display: inline-block;
                /* position: relative; */
                margin: 0 2px 0 2px;"></span>  <span >{{skill.sub_category}}</span-->

              </div>

            </div>
            <button style="display:inline-block;" (click)="changeStatus(c)"
                    [class]="getCourseStatus(c) ? 'btn btn-warning' : 'btn btn-success'">{{getCourseStatus(c) ?
              getCourseStatus(c) : 'Register' }}
            </button>

          </div>
        </nb-card-body>
      </nb-card>
        </nb-card-front>
        <nb-card-back style="max-width: 80px;max-height: 205px;height: 205px">
          <nb-card style="height: 210px" > <nb-card-header>Course details</nb-card-header>
            <nb-card-body style="max-width: 200px;max-height: 205px;height: 205px"> prerequisite : Gitar /n This course will teach you how to play a gitar </nb-card-body>
          </nb-card>
        </nb-card-back>
      </nb-flip-card>
    </div>
  </div>

  <!--<nb-tab tabTitle="Recent">
    <div class="contact" *ngFor="let c of recent">
      <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
      <span class="time">{{ c.time }}</span>
    </div>
  </nb-tab>-->

</nb-card>

<nb-card *ngIf="isStatus" style="height: 96%"
         [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">


  <div style="display:flex ;flex-wrap: wrap; ">
    <div class="contact" *ngFor="let c of user.courses" style="display:flex;flex-direction:column ">
      <nb-card>
        <nb-card-header>
          <img style="width:50px;height:50px; border-radius:  5px  5px;" [src]="c.picture">
          {{c.mentorName}}
        </nb-card-header>
        <nb-card-body>
          <div>
          </div>
          <div style="display:flex;flex-direction:column ">
            <div class="contact">
              <div style="min-width:200px">
                <span [class]="c.icon" [style.color]="c.color"></span>
                <!--img style="width:50px;height:50px;" [src]="skill?.image"-->
                {{c.sub_category}} <!--span style="border-left: 1px dashed #a4abb3;
                height: 12px;
                width: 1px;
                display: inline-block;
                /* position: relative; */
                margin: 0 2px 0 2px;"></span>  <span >{{skill.sub_category}}</span-->

              </div>

            </div>
            <button style="display:inline-block;" (click)="changeStatus(c)"
                    [class]="c.status? 'btn btn-warning' : 'btn btn-success'">{{c.status? c.status : 'Add' }}
            </button>

          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div *ngIf="!user.courses" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80%">
      <h1 style="text-align: center">Please Pick a skill and come back!</h1>
    </div>
  </div>

  <!--<nb-tab tabTitle="Recent">
    <div class="contact" *ngFor="let c of recent">
      <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
      <span class="time">{{ c.time }}</span>
    </div>
  </nb-tab>-->

</nb-card>

