
<div class="col-md-12" >
  <nb-card>
    <nb-card-header>
      Search for a skill or mentor ...
    </nb-card-header>
    <nb-card-body>
      <nb-search type="rotate-layout" (click)="handleKeyUp($event)"  tag="rotate-layout"></nb-search>
    </nb-card-body>
  </nb-card>
</div>
<div class="col-md-12" *ngIf="true">
  <div style="display: flex; justify-content: center; width: 100%;">
    <!--<nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action>-->

    <div style="flex-basis: 100%; padding-right: 5px;">
      <ngx-contacts search="{{search}}" isList="{{false}}" isStatus="{{true}}"></ngx-contacts>
    </div>

  </div>
</div>
<div *ngIf="false" style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 80%; width: 100%;">
  <h1 style="text-align: center">Please pick a skill and come back!</h1>
</div>
