<div style="display: flex">
  <div style="flex-basis: 80%; padding-right: 10px">
  <nb-card >
    <nb-card-header>
      Available Skills
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (rowSelect)="itemClick($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  </div>
  <div style="flex-basis: 20%">
    <ngx-contacts title="Enrolled students" getCourseUsers="{{course}}"></ngx-contacts>
  </div>
</div>
